
  <span class="tab1"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Tyres')">
    <img src="../../../../image/tyre.jpg" style="width:180px;height:180px;border:0;">
  </button>
  <span class="tab"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Break')">
    <img src="../../../../image/car.jpg" style="width:180px;height:180px;border:0;">
  </button>
  <span class="tab"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Wiper')">
    <img src="../../../../image/wiper1.jpg" style="width:180px;height:180px;border:0;">
  </button>
  <br><br><br>
  <span class="tab1"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Horn')">
    <img src="../../../../image/horn.jpg" style="width:180px;height:180px;border:0;">
  </button>
  <span class="tab"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Indicators')">
    <img src="../../../../image/34.jpeg" style="width:180px;height:180px;border:0;">
  </button>
  <span class="tab"></span>
  <button style="margin:0px; padding: 0px 0px;" (click)="parts('Light')">
    <img src="../../../../image/headlamps.png" style="width:180px;height:180px;border:0;">
  </button>
  <br>
  <br>
  <button  style="background-color: #555555;width: 50%;" (click)= 'finalsubmit()'> Submit </button>
  <button style="background-color: #555555;width: 50%;" (click)='ClearAll()'> clearAll </button>
  <!-- <p>response->{{response}}</p> -->
 