
        <h3>DASHBOARD</h3>
        <h5 style="text-align: right;">Chassi Number-123456</h5>
        <hr noshade>

    <button  class='btn-primary'(click)='goto("notification")'> Notification </button>
    <span class="tab"></span>
    <button  class='btn-primary' onclick="location.href='http://dtri.eraofiot.in:3000/d/dZFDEPKmz/vibrations?panelId=2&orgId=1&from=1533120410330&to=1533121320838&tab=alert'" type="button"> Grafana</button>
    <span class="tab"></span>
    <button  class='btn-primary'(click)='goto("garage")'> Service Details</button>
    <span class="tab"></span>
    <button  class='btn-primary'(click)='goto("history")'> History</button>
    <hr>
    
    
    <!-- <button  class='btn-primary'(click)='logout("login")'> </button><hr> -->
    <!-- <a href="http://dtri.eraofiot.in:3000">Visit W3Schools</a>  -->
    <!-- <button onclick="location.href='http://www.example.com'" type="button">www.example.com</button> -->
    


    <!-- <p> MH-12 FS-9500</p> -->




<router-outlet></router-outlet> 
