<h2 style="text-align:center">Welcome to Dashboard</h2>

<!-- 
<! <div class='container'>
  <h1>Dashboard</h1>
  <br>
  <br>

  <button class="btn-warning btn" (click)="graphFunction()">Data Graph</button>
  <br>
  <h5>{{obj["hum"]}}</h5>

  <p>Humidity:{{obj.hum}}</p>
  <p>Temperature:{{obj.temp}}</p>
  <br>
  <button class="btn-warning btn" (click)="notificationFunction()">NotificationsS</button>
  <br>
  <br>
  <button class="btn-warning btn" (click)="gpsFunction()">GPS</button>
  <br>
  <br>


</div>

<! <table class='table'>
  <thead>
    <tr>
      <th>Device Name</th>
      <th>Fields</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody *ngFor='let device of devices'>
    <tr>
      <td>{{device.name}}</td>
      <td>{{device.fields}}</td>
      <td>{{device.controls}}</td>
    </tr>
  </tbody>
</table> --> 